# =========================

# IntelliJ IDEA

# =========================

.idea/
*.iml
*.iws
*.ipr
out/

# =========================

# Build Files

# =========================

target/
build/

# =========================

# Java Compiled Files

# =========================

*.class

# =========================

# Logs

# =========================

*.log

# =========================

# MacOS

# =========================

.DS_Store

# =========================

# Temporary Files

# =========================

*.tmp
*.swp
*~

# =========================

# Environment files

# =========================

.env
